// out: ./coloso.css, sourcemap: true, compress: false
* {
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body {
    margin: 0;
    padding: 0;
    //background: url("../image/fondos/1.png");
    background-color: black;
    color: #878787;
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 16px;
}

h1 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 3em;
    line-height: 0.7em;
    letter-spacing: -4px;
    padding-top: 14px;
    margin-bottom: 2%;

    span {
        font-size: 0.8em;
        letter-spacing: 0;
        font-weight: 600;
    }
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}


// @media (max-height: 1000px) {
//     body {
//         font-size: 10px;
//     }
// }
// @media (min-height: 1000px) and (max-height: 2000px) {
//     body {
//         font-size: 24px;
//     }
// }

// @media (min-width: 600px) and (max-width: 1100px) {
//     body {
//         font-size: 9px;
//     }
// }
// @media handheld and (orientation: portrait) {
//     body {
//         font-size: 9px;
//     }
// }

#mainWrapper {
    text-align: center;

    #title {
        height: 10%;
        overflow: hidden;
        background-color: #fff;
        color: #000;
        text-align: left;
        font-size: 1.2em;
        // padding-top: 1%;
        box-sizing: border-box;

        .info {
            float: left;
            width: 80%;
        }
        .logo {
            float: right;
            width: 20%;
            text-align: right;
            padding: 3% 1% 0 0;
            box-sizing: border-box;
            color: inherit;
            text-decoration: none;


            img {
                width: 43%;
            }
        }
    }

    #content {
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        background-color: black;

        #overlay {
            position: absolute;
            background-color: rgba(0,0,0,0.8);
            z-index: 10000;
            height: 100%;
            width: 100%;
            color: white;
            display: none;

            &.active {
                display: block;
            }

            p {
                margin-bottom: 1em;
                font-size: 1.2em;
            }

            > div {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                display: none;

                &.active {
                    display: block;
                }

                &.enviar {
                    label, input, button {
                        display: block;
                        text-align: left;
                    }

                    input {
                        width: 100%;
                        margin-bottom: 1em;
                    }

                    button {
                        float: right;
                    }
                }

                &.enviado > div {
                    visibility: hidden;

                    &.active {
                        visibility: visible;
                    }
                }
            }

            #btnCancelarEnviar {
              margin-right: 10px;
              background: none;
            }

            button {
                background-color: blue;
                text-transform: uppercase;
                font-size: 1em;
                margin-top: 1em;
            }
        }
    }

    #coloso {
        height: 65%;
        position: relative;
        overflow: hidden;
        background: url(../image/estrellas.svg);
        background-size: cover;

        object {
            height: 100%;
            transition: transform 0.7s;

            &.zoom {
                transform: scale(2.8, 2.8) translate(0, 28%);
            }

            .visible {
                visibility: visible !important;

                circle {
                    visibility: visible !important;
                }
            }
        }

        #btnCerrar {
            position: absolute;
            top: 13px;
            right: 6px;
            cursor: pointer;
            opacity: 0;
            width: 8%;
            z-index: 20;

            &.visible {
                opacity: 1;
            }
        }

        #colores {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            height: 17%;
            visibility: hidden;

            &.seleccionDientes {
              left: -30.8% !important;
            //   left: -110px !important;
            }

            li {
                float: left;
                height: 100%;
                width: 20%;
                // margin-right: 3%;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &.no {
                    // background: url(../image/no.svg) #d9d9d9 !important;
                    background: #d9d9d9 !important;

                    img {
                        width: 110%;
                    }
                }
                &.blanco{
                  background-color: #ffffff !important
                }

                &.invisible{
                  visibility: hidden;
                  //margin-right:115px;
                }
            }


            &.visible {
                visibility: visible;
            }

        }

        #presets {
            background-color: #363636;
            height: 27%;
            position: absolute;
            bottom: 17%;
            left: 0;
            width: 100%;
            padding: 3% 0 4%;
            visibility: hidden;

            .ojos {
                padding-top: 2%;
            }

            > div {
                width: 80%;
                margin: 0px auto;
                text-align: center;
                // visibility: hidden;
                display: none;

                &.visible {
                    // visibility: visible;
                    display: block;
                }
            }

            img {
                display: inline;
                cursor: pointer;
                opacity: 0.3;

                &:first-child, &.nomargin {
                    margin-left: 0;
                }

                &.selected {
                    // outline: 1px solid red;
                    opacity: 1 !important;
                }

            }

            .ojos img {
                margin-left: 6%;
                width: 17%;
            }
            .boca img {
                margin-bottom: 3%;
                width: 36%;

                &:nth-child(odd) {
                    margin-right: 8%;
                }
            }
            .corazon img {
                margin-top: 6%;
                width: 32%;
            }

            &.visible {
                visibility: visible;
            }
        }
    }

    #areas {
        height: 5%;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.6em;
        border-top: 2px solid #525252;
        padding-top: 1.5%;
        box-sizing: border-box;

        span.flecha {
        	position: relative;
        	top: -2px;
        	display: inline-block;
        }

    }

    #animation {
        // background-color: red;
        height: 20%;
        background-color: white;

        .framesWrapper {
            height: 25%;
            list-style: none;
            margin: 0;
            padding: 0.5em 0 0 0;
            text-align: left;

            display: flex;
            justify-content: space-between;

            li {
                // display: inline-block;
                // float: left;
                height: 100%;
                // margin-left: 0.76%;
                cursor: pointer;
                &.frame{
                  opacity: 0.4;
                }
                &.flecha {
                    width: 6%;
                }

                &:first-child {
                    // margin-left: 0;
                }

                &.flecha {
                    img {
                        // height: 100%;
                        // display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                }

                &.frame {
                    width: 7%;
                    height: 100%;
                    background-color: #878787;
                    opacity: 0.4;

                    .circulo {
                        border: 1px solid #000;
                        width: 50%;
                        height: 40%;
                        border-radius: 20px;
                        position: relative;
                        left: 23%;
                        top: 29%;
                    }

                    &.selected {
                        background-color: #3A3A3A;

                        .circulo {
                            background-color: #ff00ab;
                            border: 1px solid #ff00ab;
                        }
                    }
                   &.setted{
                     opacity:1;
                   }
                }

            }

            // #frames {
            //     width: 80%;
            //     height: 100%;
            //     display: inline-block;
            // }
        }

        #buttons {
            margin-top: 0.5em;
            display: flex;
            justify-content: space-between;

            #btnPlay {
                width: 26%;
                background-color: #ff00ab;
                position: relative;
                text-align: left;

                img {
                    width: 13%;
                    position: absolute;
                    top: 23%;
                    right: 11%;
                }

                span {
                    position: relative;

                }
            }
            #btnBorrar {
                background-color: #b3b3b3;
            }
            #btnCopy {
                background-color: black;
            }
            #btnPaste {
                background-color: black;
            }
        }

        #velocityAndSend {
            overflow: hidden;
            margin-top: 1em;
            height: 30%;

            #velocity {
                width: 55%;
                float: left;
                height: 100%;
                text-align: left;

                span {
                    color: #00c6ff;
                    font-weight: 700;
                    font-size: 1.5em;
                }
            }
            #enviar{
                width: 45%;
                float: right;
                text-align: right;

                button {
                    background: #00c6ff;
                    color: black;
                }
            }
        }
    }
}

button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6em;
    padding: 0.4em 0.8em 0.2em 0.8em;
    font-weight: 900;

    // span {
    //     position: relative;
    //     top: -3px;
    //     margin-left: 0.3em;
    //     display: inline-block;
    //     margin-top: -7px;
    // }

    &:focus, &::-moz-focus-inner {
        outline: none;
        border: 0;
    }
}

input[type=range].normal {
  -webkit-appearance: none;
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;

  &:focus {
      outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #00c6ff;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100%;
    width: 21%;
    background: black;
    cursor: pointer;
    border-radius: 0;
    border: none;
  }

  &::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #00c6ff;
  }
  &::-moz-range-thumb {
    height: 100%;
    width: 21%;
    background: black;
    cursor: pointer;
    border-radius: 0;
    border: none;
  }
}
input[type=range].ios {
  -webkit-appearance: none;
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;

  &:focus {
      outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    // min-height: 50px;
    // height: 200%;
    cursor: pointer;
    background: #00c6ff;
  }

  &::-webkit-slider-thumb {
    // -webkit-appearance: none;
    // height: 100%;
    // width: 21%;
    min-width: 30px;
    min-height: 30px;
    background: black;
    // cursor: pointer;
    // border-radius: 0;
    // border: none;
  }
}
